h1 {
  font-family: 'Lobster', cursive;
}

.wrap {
  border: 1px solid rgb(196, 219, 223);
  text-align: center;
  width: 400px;
  height: 600px;
  padding: 10px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #dbdbdb;

  .box1 {
    display: flex;
    flex-direction: column;
    border-color: white;

    .form-input {
      height: 30px;
      border: 1px solid rgb(230, 241, 241);
    }
  }

  .button {
    background-color: rgb(184, 216, 245);
    border-radius: 5px;
    color: white;
    height: 30px;
    line-height: 30px;
  }

  .sentence {
    color: rgb(63, 114, 223);
  }
}
